# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Eclipse_Workspace\Agenda\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
